<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--Test Automation Environment Settings -->
    <add key="ExecutionEnvironment" value="LOCALHOST" />
    <!--LOCALHOST, REMOTE ya da TESTINIUM olabilir-->
    <!--<add key="ExternalPlatforms" value="WINDOWSDESKTOPAPP" />-->
    <!--WINDOWSDESKTOPAPP olabilir-->
    <!--<add key="ExternalPlatformApplication" value="WINIUM" />-->
    <!--Boş, WINIUM ya da WINAPPDRIVER olabilir-->
    <add key="FirefoxPath" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    <add key="Platforms" value="WEBEDGE" />
    <!--WEBCHROME, WEBCHROMEHEADLESS, WEBFIREFOX, WEBSAFARI, 
    WEBINTERNETEXPLORER, ANDROIDFIREFOX, ANDROIDCHROME, 
    ANDROIDNATIVEGOOGLE, IOSSAFARI, IOSAPP, ANDROIDAPP olabilir-->
    <add key="BrowserArguments" value="--kiosk-printing"/>
    <!--<add key="WiniumPort" value="9999" />-->
    <add key="WinAppDriverPort" value="4723" />
    <add key="LocalWinAppPath" value="C:\Program Files (x86)\Windows Application Driver\WinAppDriver.exe" />
    <add key="DefaultDesktopAppPath" value="" />
    <!--C:\Windows\System32\rundll32.exe olabilir-->
    <add key="ProcessListToKill" value="IEdriverServer64,IEdriverServer,iexplore,WerFault,AcroRd32,RdrCEF,VergiNo,Winium.Desktop.Driver" />
    <!--IEdriverServer64,IEdriverServer,iexplore,WerFault,AcroRd32,RdrCEF,VergiNo,Winium.Desktop.Driver olabilir-->
    <add key="ProjectName" value="TestAutomationFrameworkDemoTests" />
    <!--Test Automation Environment Settings -->
    <add key="TimeoutRefresh" value="True" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.0.1.0" newVersion="23.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>